* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pointer {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 0;
}

.texture-selector {
  background-color: gainsboro;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 12px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texture-selector.hidden {
  display: none;
}

.texture-selector img {
  border-radius: 4px;
  width: 100px;
  z-index: 100;
  image-rendering: pixelated;
  border: 3px solid transparent;
}

.texture-selector img.selected {
  border-color: red;
}

.menu {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.texture-item {
  position: relative;
  display: inline-block;
}

.texture-number {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 50%;
  z-index: 10;
}

button {
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
}

.powered {
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.powered a {
  color: white;
  text-decoration: none;
}

.delete-tip {
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  position: absolute;
}

.controls-container {
  position: absolute;
  bottom: 70px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.key-row {
  display: flex;
}

#key-space {
  width: 100px;
}
